/orekit/build/
/orekit/nbuild.xml
/orekit/dist/
/orekit/nbproject/

/orekitSource/nbproject/private/
/orekitSource/build/
/orekitSource/dist/
/OrekitSourceCode/nbproject/private/
/Hipparchus/nbproject/private/
/OrekitSource_8.0/nbproject/private/